body {
    font-family: sans-serif;
}

.content {
    padding: 5% 10%; 
}

a:link, a:visited {
    text-decoration: none;
    color: #452743;
}

a:hover {
    color: #d7de50;
}

.logo:hover {
    color: #452743;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 10px 20px;
    margin: 0;
}

.logo {
    font-family: "chantal", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 2rem;
}

.title {
    font-family: "jaf-lapture", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #452743;
}

/* .bolder {
    font-family: "chantal";
    font-weight: 500;
} */