body {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin-top: 4%;
    margin-left: 20%;
}

p {
    padding: 15px;
    width: 500px;
    box-sizing: border-box;
    margin: 10px;
}

#a:hover, #i:hover, #o:hover, #u:hover {
    color: white;
    cursor:grab
}

#e {
    color: white;
    padding: 15px;
    background-color: black;
}

#e:hover {
    color:black;
    cursor:grab
}

#desc {
    padding-top: 100px;
    text-align: right;
    font-style: italic;
}